<ul>
  <%= form_for :movie, url: 'homes/new', method: :get do |f| %>
    <li><%= f.collection_check_boxes :genres, Genre.all, :tmdb_id, :name, :include_hidden => false %></li>
    <%= f.label :year_start %><br>
    <li><%= f.text_field :year_start %></li><br>
    <%= f.label :year_end %><br>
    <li><%= f.text_field :year_end %></li><br>
    <%= f.label :keywords, "Keywords (separate by commas)" %>
    <li><%= f.text_area :keywords %></li><br>
    <%= submit_tag 'shuffle' %>
  <% end %>
</ul>
