<ul class="index-list">
  <%= form_for :movie, url: 'homes/show', method: :get do |f| %>
    <div class="flex-container">
      <div id="check-boxes">
        <li><%= f.collection_check_boxes :genres, Genre.all, :tmdb_id, :name, :include_hidden => false %></li>
      </div>
      <div id="inputs">
        <%= f.label :year_start %><br>
        <li class="year"><%= f.text_field :year_start %></li><br>
        <%= f.label :year_end %><br>
        <li class="year"><%= f.text_field :year_end %></li><br>
        <%= f.label :keywords, "Keywords (separate by commas)" %>
        <li id="keywords"><%= f.text_area :keywords %></li><br>
        <%= submit_tag 'shuffle' %>
      </div>
    </div>
  <% end %>
</ul>
