<ul class="index-list">
  <%= form_for :movie, url: 'homes/show', method: :get do |f| %>
    <div class="flex-container">
      <div id="check-boxes">
        <li><%= f.collection_check_boxes :genres, Genre.all, :tmdb_id, :name, :include_hidden => false %></li>
      </div>
      <div id="inputs">
        <li class="year">
          <%= f.label :year_start, :class => "labels" %><br>
          <%= f.text_field :year_start %>
        </li><br>
        <li class="year">
          <%= f.label :year_end, :class => "labels" %><br>
          <%= f.text_field :year_end %>
        </li><br>
        <li id="keywords">
          <%= f.label :keywords, "Keywords (separate by commas)", :class => "labels" %>
          <%= f.text_area :keywords %>
        </li><br>
        <li><%= submit_tag 'shuffle' %></li>
      </div>
    </div>
  <% end %>
</ul>
